<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="background-color:aqua">
        Home - Product - News - About Us
    </div>
    <div>
        @RenderBody()
    </div>
    <div style="background-color:cadetblue">
        Copyrigth: by Kthanh 2023
    </div>
</body>
</html>